/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Font per tutto il body */
body{
    font-family: 'Open Sans', sans-serif;
}

/* Reset utilizzato con float, per evitare il collasso dei blocchi */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* Container con larghezze specificate in ogni casistica e posto al centro della pagina */
.container{
    width: 75%;
    min-width: 650px;
    max-width: 1180px;
    margin: 0 auto;
}

/* Container con larghezza più grande */
.large-container{
    width: 85%;
    min-width: 750px;
    max-width: 1300px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.fl-left{float: left;}
.fl-right{float: right;}
.in-block{display: inline-block;}

/* Classe generica per tutti i button */
.btn{
    border: none;
    color: white;
    background-color: #0061ff;
    padding: 12px 20px;
    text-align: center;
}

.btn-large {
    font-size: 1.1em;
    padding: 10px 24px;
}

p>.fa-check, a{
    color: #0061ff;
}

/* Altezza header e altezza interlinea (riga) dell'header */
header{
    line-height: 75px;
    font-size: 0.9em;
}

/* Tutti i 'li' della nav sono disposti in orizzontale */
header nav ul li{
    display: inline;
    list-style-type: none;
    margin: 0 15px;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

header .logo-img,
header button{
    margin: 0 15px 0 12px;
}

.logo-img img{
    vertical-align: middle;
}

section#jumbotron{
    height: 750px;
    background-color: #b4d0e7;
}

section#plans{
    background-color: burlywood;
}

section#jumbotron h1 {
    font-size: 4.2em;
    padding: 60px 0 45px;
}

.jumbo-desc {
    width: 30%;
    line-height: 1.5em;
    padding-right: 33px;
}

.jumbo-desc>p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.jumbo-img{
    width: 70%;
    text-align: right;
}

.jumbo-img img{
    width: 100%;
}

.jumbo-desc span{
    display: block;
    font-size: 0.8em;
    padding: 5px 0 30px;
}

.jumbo-desc i{
    font-size: 2em;
}

section#plans h2 {
    font-size: 2em;
    padding: 170px 0 50px;
}

section#plans .input{
    display: inline-block;
    margin: 0 20px 0 0;
}

section#plans .plan-card{
    margin-top: 45px;
    border: 1px solid grey;
    width: calc((100% - 120px)/3);
    min-height: 1000px;
}

.plan-card:nth-of-type(3){
    margin: 0 60px;
} 

section#plans .p-card-full-width{
    width: 100%;
}

.plan-card .type,
.plan-card-content .min-hr{
    border-bottom: grey 1px solid;
    text-align: center;
}

.plan-card .type{
    padding: 14px 0;
}

section#plans p{
    font-size: .9em;
}

section#plans p,
section#plans h4{
    margin-bottom: 15px;
}

section#plans h3{
    font-size: 1.5em;
    padding-bottom: 10px;
}

.plan-card-content span{
    display: block;
    font-weight: bold;
    padding: 7px 0 45px;  
}

/* hr orizzontale che separa le due section */
div.min-hr{
    width: 60px;
    margin: 30px 0 45px;
}

div.min-hr,
.plan-card-content span{
    color: grey;
}

.plan-card-content {
    padding: 32px 32px;
}

div.btn {
    margin: 50px 0 35px;
}

.p-card-maxi-content{
    position: relative;
    padding: 32px;
}

.p-card-maxi-content .btn{
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 12px 75px;
}